name: Run Tests

on:
  # Runs on PRs targeting the default branch
  pull_request:
    branches:
      - master

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Git repository
        uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Run CSS linting
        run: npm run test:css

      - name: Build
        run: npm run build

      - name: Run HTML validation
        run: npm run test:html

      - name: Run Lighthouse CI
        run: npm run test:lighthouse

      - name: Upload build artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: pr-build
          path: ./dist
          retention-days: 7
